<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TestProject</display-name>
  <welcome-file-list>
    
    <welcome-file>homePage.html</welcome-file>
    
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Homepagesrv</display-name>
    <servlet-name>Homepagesrv</servlet-name>
    <servlet-class>com.exam.service.Homepagesrv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Homepagesrv</servlet-name>
    <url-pattern>/myform</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserSrv</display-name>
    <servlet-name>AddUserSrv</servlet-name>
    <servlet-class>com.exam.service.AddUserSrv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserSrv</servlet-name>
    <url-pattern>/addform</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>RestrictedSrv</display-name>
    <servlet-name>RestrictedSrv</servlet-name>
    <servlet-class>com.exam.service.RestrictedSrv</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestrictedSrv</servlet-name>
    <url-pattern>/reform</url-pattern>
  </servlet-mapping>
</web-app>